language: cpp

matrix:
  include:
    - os: linux
      compiler: clang
      env: COMPILER=clang++-3.6
      addons:
         apt:
            sources: ['ubuntu-toolchain-r-test', 'llvm-toolchain-precise-3.6']
            packages: ['clang-3.6', 'clang-format-3.6', 'zlib1g-dev', 'libbz2-dev', 'libsnappy-dev', 'curl']
    - os: osx
      compiler: clang

script: make && ./src/ardb-test && storage_engine=leveldb make && ./src/ardb-test && storage_engine=lmdb make && ./src/ardb-test && storage_engine=wiredtiger make && ./src/ardb-test
branches:
  only:
    - master
notifications:
  recipients:
    - yinqiwen@gmail.com
  email:
    on_success: change
    on_failure: always
os:
  - linux
  - osx
